@import url('https://fonts.googleapis.com/css2?family=Caacupe+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 32, 40);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    display: inline-flex;
    align-items: end;
    font-size: 1.2rem;
    gap: 8px;
    text-transform: capitalize;
    font-weight: 300;
    font-family: "Outfit", sans-serif;
    background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;

}

.image {
    width: 45px;
}

#main-textarea {
    margin: 30px 0 30px 0;
    width: 80%;
}



#top {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 2px ridge rgb(139, 137, 137);

    gap: 5px;
    border-radius: 10px 10px 0px 0px;
    padding: 14px;
    background-color: rgb(21, 22, 23);
}

#top .btn {
    padding: 5px 12px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background-color: rgb(19, 19, 20);
    color: rgb(205, 206, 208);
    border: 2px solid rgb(135, 138, 142);
    box-shadow: 3px 2px 10px black;
    margin: 5px;


}

#color {
    background-color: #8b8e8c;
    margin: 8px;
    display: inline-block;
}

#textarea {
    width: 100%;
    min-height: 500px;
    padding: 20px;
    outline: none;
    /* border-radius: 0px  0px 20px 20px; */
    background-color: rgb(16, 17, 17);
    display: block;
    color: aliceblue;

}

#main-textarea .foot {
    background-color: rgb(36, 38, 38);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(146, 150, 150);
    font-family: "Work Sans", sans-serif;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid black;
}

form {
    display: flex;
    justify-content: center;
    gap: 5px;



}



.select-btn {
    padding: 5px 8px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background-color: rgb(19, 19, 20);
    color: rgb(205, 206, 208);
    border: 2px solid rgb(135, 138, 142);
    box-shadow: 3px 2px 10px black;
    width: 60px;
    text-align: left;
    margin: 8px;
}
